body {
  background-color: #D3DEDC;
}

hr {
  border-style: none;
  border-top-style: inset;
  border-color: grey;
  border-width: thin;
  width: 100%;
}

img {
  height: 150px;
}

h1{
  color: #1572A1;
}

h3{
  color: #1572A1;
}

ul li{
  display: block;
  padding: 5px;
}

ul li a {
  text-decoration: none

}
